---
import BaseHead from "../components/BaseHead.astro";

let title = "Joshua Ferris | Tasty";
let description = "A collection of our favorite recipes.";
let permalink = 'https://jajjferris.com/tasty';

let allRecipes = await Astro.glob('./tasty/*.md');

allRecipes = allRecipes.sort((a, b) => {
  let textA = a.frontmatter.title.toUpperCase();
  let textB = b.frontmatter.title.toUpperCase();
  return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
});
---

<html lang="en">
<head>
  <BaseHead title={title} description={description} permalink={permalink} />
  <link rel="stylesheet" href="/style/tasty.css" />
</head>
<body>
  <main>
    <header class="header">
      <h1 class="header--title">Tasty</h1>
    </header>

    <div class="tasty--container">
      {allRecipes.map(recipe => (
        <a href={recipe.url} class="tasty--item">
          <h2 class="tasty--item-title">{recipe.frontmatter.title}</h2>
          <span>{recipe.frontmatter.ttm} mins | {recipe.frontmatter.servings} Servings</span>
        </a>
      ))}
    </div>
  </main>
</body>
</html>
